<section class="promos">
    <div class="container">
        <div class="row">  
            <div class="span3">
                <a href="http://www.puffinfoundation.org/" target="_blank"><img src="/static/img/apoyos/puffin.png"></a>
            </div>                                 
            <div class="span3">
                <a href="http://www.pamplona.es/" target="_blank"><img src="/static/img/apoyos/ayuntamiento.png"></a>
            </div>
            <div class="span3">
                <a href="http://www.navarra.es/" target="_blank"><img src="/static/img/apoyos/gobNavarra.png"></a>
            </div>
            <div class="span3">
                <!--a href="http://www.cajaruraldenavarra.com/" target="_blank"><img src="/static/img/apoyos/cajarural.png"></a-->
            </div>                                    
        </div>

    </div>
</div>