<!-- Promos -->
<section class="promos">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="free-shipping">
                    <div class="box border-top">
                        <img src="/static/img/ensanche-plus.png" alt="" />
                        <div class="hgroup title">
                            <h3>Noticias</h3>
                            <h5>Toda la actualidad del Ensanche y de la Asociación. </h5>
                        </div>
                        <p><a class="btn btn-primary" title="Noticias" href="/noticias/">Noticias</a></p>
                        
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="world-shipping">
                    <div class="box border-top">
                        <img src="/static/img/world-shipping.png" alt="" />
                        <div class="hgroup title">
                            <h3>Agenda</h3>
                            <h5>Estate al día de todo los que pasa lo que puedes hacer en el Ensanche.</h5>
                        </div>
                        <p><a class="btn btn-primary" title="Agenda" href="/agenda/">Agenda</a></p>
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="low-price">
                    <div class="box border-top">
                        <img src="/static/img/low-price.png" alt="" />
                        <div class="hgroup title">
                            <h3>Asóciate</h3>
                            <h5>Conoce los convenios para conseguir descuentos y asesoramiento</h5>
                        </div>
                        <p><a class="btn btn-primary" title="convenios" href="/convenios/">Convenios</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End class="promos" -->
