                    
<!-- Slider -->
<section class="flexslider">
    <ul class="slides">
        <li>
            <img src="/media/slides/4.jpg" alt="" />
            <div class="caption">
                <div class="container">
                    <div class="span6 offset6 text-right">
                        <h3>Asóciate</h3>
                        <br />
                        <p>y disfruta de nuestras ventajas </p>
                        <br /> 
                        <a class="btn btn-primary btn-small" title="" href="/convenios/">
                            Consulta nuestros convenios &nbsp; <em class="icon-chevron-right"></em>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- End class="flexslider" --> 