                    
<!-- Slider -->
<section class="flexslider">
    <ul class="slides">
        <li>
            <img src="/media/2014/06/04/Banner.png" alt="" />
            <div class="caption">
                <div class="container">
                    <div class="span6 offset5 text-right">
                        <h3>20 y 21 de junio</h3>
                        <br />
                        <p>Comercio Hace Ciudad</p>                        
                        
                        <br />
                        <a class="btn btn-primary btn-small" title="" target="_blank" href="http://www.areacomercial.com/media/filer_public/53/d3/53d38ec6-eea6-4c50-bd78-b5ae3bb7aaff/festivalmagia3.png">
                            Ver programación&nbsp; <em class="icon-chevron-right"></em>
                        </a>
                        
                    </div>
                </div>
            </div>
        </li>    
        <li>
            <img src="/media/slides/700/1.jpg" alt="" />
            <div class="caption">
                <div class="container">
                    <div class="span6 offset5 text-right">
                        <h3>Estrenamos web<br /></h3>
                        <br />
                        <p>Orientada a nuestros asociados y nuestros clientes</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <img src="/media/slides/700/2.jpg" alt="" />
            <div class="caption">
                <div class="container">
                    <div class="span6 ">
                        <h3>VI Noche del Ensanche 24 de Octubre de 2013</h3>
                        <br />
                        <p>Por sexto año consecutivo organizamos la Noche del Ensanche, nuestra jornada formativa más destacada del año.</p>
                        <br /> 
                        <a class="btn btn-primary btn-small" title="" href="http://www.areacomercial.com/noticias/la-noche-del-ensanche/">
                            Leer más &nbsp; <em class="icon-chevron-right"></em>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <img src="/media/slides/700/5.jpg" alt="" />
            <div class="caption">
                <div class="container">
                    <div class="span6 offset5 text-right">
                        <h3>Te pagamos</h3>
                        <br />
                        <p> la zona azul</p>
                        <br /> 
                        <a class="btn btn-primary btn-small" title="" href="http://www.areacomercial.com/noticias/te-pagamos-la-zona-azul/">
                            Lee la noticia completa &nbsp; <em class="icon-chevron-right"></em>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- End class="flexslider" --> 