                    
<!-- Slider -->
<section class="flexslider">
    <ul class="slides">
        <li>
            <img src="/media/slides/agenda.jpg" alt="" />
            <div class="caption">
                <div class="container">
                    <div class="span6 offset6 text-right">
                        <h3>Agenda</h3>
                        <br />
                        <p>Entérate de todo lo que pasa en el Ensanche</p>
                        <br /> 

                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- End class="flexslider" --> 