<div class="timelineLoader">
    <img src="/static/images/timeline/loadingAnimation.gif" />
</div>
<!-- BEGIN TIMELINE -->
<div class="timelineFlat timelineFlatBlog tl2">
        <div class="item" data-id="04/05/2012" data-description="Lorem ipsum">
            <a class="image_rollover_bottom con_borderImage" data-description="ZOOM IN" href="/static/images/flat/blog/1.jpg" rel="lightbox[timeline]">
            <img src="/static/images/flat/blog/1.jpg" alt=""/>
            </a>
            <div class="post_date">4<span>MAY</span></div>
            <h2>MAY, 4</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...</span>
            <div class="read_more" data-id="04/05/2012">Read more</div>
        </div>
        <div class="item_open" data-id="04/05/2012" data-access="ajax-content-no-image.html">
            <div class="item_open_content">
                <img class="ajaxloader" src="/static/images/timeline/loadingAnimation.gif" alt="" />
            </div>
        </div>
        
        <div class="item" data-id="12/05/2012" data-description="Lorem ipsum dolor sit">
            <a class="image_rollover_bottom con_borderImage" data-description="ZOOM IN" href="/static/images/flat/blog/2.jpg" rel="lightbox[timeline]">
            <img src="/static/images/flat/blog/2.jpg" alt=""/>
            </a>
            <div class="post_date">12<span>MAY</span></div>
            <h2>MAY, 12</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...</span>
            <div class="read_more" data-id="12/05/2012">Read more</div>
        </div>
        <div class="item_open" data-id="12/05/2012" data-access="ajax-content-no-image.html">
            <div class="item_open_content">
                <img class="ajaxloader" src="/static/images/timeline/loadingAnimation.gif" alt="" />
            </div>
        </div>
        
        <div class="item" data-id="21/06/2012" data-description="Lorem ipsum dolor">
            <a class="image_rollover_bottom con_borderImage" data-description="ZOOM IN" href="/static/images/flat/blog/3.jpg" rel="lightbox[timeline]">
            <img src="/static/images/flat/blog/3.jpg" alt=""/>
            </a>
            <div class="post_date">21<span>JUN</span></div>
            <h2>JUNE, 21</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...</span>
            <div class="read_more" data-id="21/06/2012">Read more</div>
        </div>
        <div class="item_open" data-id="21/06/2012" data-access="ajax-content-no-image.html">
            <div class="item_open_content">
                <img class="ajaxloader" src="/static/images/timeline/loadingAnimation.gif" alt="" />
            </div>
        </div>


        <div class="item" data-id="27/06/2012" data-description="Lorem ipsum">
            <a class="image_rollover_bottom con_borderImage" data-description="ZOOM IN" href="/static/images/flat/blog/4.jpg" rel="lightbox[timeline]">
            <img src="/static/images/flat/blog/4.jpg" alt=""/>
            </a>
            <div class="post_date">27<span>JUN</span></div>
            <h2>JUNE, 27</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...</span>
            <div class="read_more" data-id="27/06/2012">Read more</div>
        </div>
        <div class="item_open" data-id="27/06/2012" data-access="ajax-content-no-image.html">
            <div class="item_open_content">
                <img class="ajaxloader" src="/static/images/timeline/loadingAnimation.gif" alt="" />
            </div>
        </div>
        
        
        <div class="item" data-id="03/07/2012" data-description="Lorem ipsum dolor">
            <a class="image_rollover_bottom con_borderImage" data-description="ZOOM IN" href="/static/images/flat/blog/5.jpg" rel="lightbox[timeline]">
            <img src="/static/images/flat/blog/5.jpg" alt=""/>
            </a>
            <div class="post_date">21<span>JUL</span></div>
            <h2>JULY, 3</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...</span>
            <div class="read_more" data-id="03/07/2012">Read more</div>
        </div>
        <div class="item_open" data-id="03/07/2012" data-access="ajax-content-no-image.html">
            <div class="item_open_content">
                <img class="ajaxloader" src="/static/images/timeline/loadingAnimation.gif" alt="" />
            </div>
        </div>
        
        
        
        <div class="item" data-id="13/07/2012" data-description="Lorem ipsum dolor">
            <a class="image_rollover_bottom con_borderImage" data-description="ZOOM IN" href="/static/images/flat/blog/6.jpg" rel="lightbox[timeline]">
            <img src="/static/images/flat/blog/6.jpg" alt=""/>
            </a>
            <div class="post_date">13<span>JUL</span></div>
            <h2>JULY, 13</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...</span>
            <div class="read_more" data-id="13/07/2012">Read more</div>
        </div>
        <div class="item_open" data-id="13/07/2012" data-access="ajax-content-no-image.html">
            <div class="item_open_content">
                <img class="ajaxloader" src="/static/images/timeline/loadingAnimation.gif" alt="" />
            </div>
        </div>
        
        <div class="item" data-id="17/07/2012" data-description="Lorem ipsum dolor sit amet">
            <a class="image_rollover_bottom con_borderImage" data-description="ZOOM IN" href="/static/images/flat/blog/7.jpg" rel="lightbox[timeline]">
            <img src="/static/images/flat/blog/7.jpg" alt=""/>
            </a>
            <div class="post_date">17<span>JUL</span></div>
            <h2>JULY, 17</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...</span>
            <div class="read_more" data-id="17/07/2012">Read more</div>
        </div>
        <div class="item_open" data-id="17/07/2012" data-access="ajax-content-no-image.html">
            <div class="item_open_content">
                <img class="ajaxloader" src="/static/images/timeline/loadingAnimation.gif" alt="" />
            </div>
        </div>
        
        <div class="item" data-id="25/07/2012" data-description="Lorem ipsum">
            <a class="image_rollover_bottom con_borderImage" data-description="ZOOM IN" href="/static/images/flat/blog/8.jpg" rel="lightbox[timeline]">
            <img src="/static/images/flat/blog/8.jpg" alt=""/>
            </a>
            <div class="post_date">25<span>JUL</span></div>
            <h2>JULY, 25</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...</span>
            <div class="read_more" data-id="25/07/2012">Read more</div>
        </div>
        <div class="item_open" data-id="25/07/2012" data-access="ajax-content-no-image.html">
            <div class="item_open_content">
                <img class="ajaxloader" src="/static/images/timeline/loadingAnimation.gif" alt="" />
            </div>
        </div>
        
        <div class="item" data-id="06/08/2012" data-description="Lorem ipsum dolor">
            <a class="image_rollover_bottom con_borderImage" data-description="ZOOM IN" href="/static/images/flat/blog/9.jpg" rel="lightbox[timeline]">
            <img src="/static/images/flat/blog/9.jpg" alt=""/>
            </a>
            <div class="post_date">6<span>AUG</span></div>
            <h2>AUGUST, 6</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...</span>
            <div class="read_more" data-id="06/08/2012">Read more</div>
        </div>
        <div class="item_open" data-id="06/08/2012" data-access="ajax-content-no-image.html">
            <div class="item_open_content">
                <img class="ajaxloader" src="/static/images/timeline/loadingAnimation.gif" alt="" />
            </div>
        </div>
        
        <div class="item" data-id="15/08/2012" data-name="August 15th" data-description="Lorem ipsum dolor sit">
            <a class="image_rollover_bottom con_borderImage" data-description="ZOOM IN" href="/static/images/flat/blog/10.jpg" rel="lightbox[timeline]">
            <img src="/static/images/flat/blog/10.jpg" alt=""/>
            </a>
            <div class="post_date">15<span>AUG</span></div>
            <h2>AUGUST, 15</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...</span>
            <div class="read_more" data-id="15/08/2012">Read more</div>
        </div>
        <div class="item_open" data-id="15/08/2012" data-access="ajax-content-no-image.html">
            <div class="item_open_content">
                <img class="ajaxloader" src="/static/images/timeline/loadingAnimation.gif" alt="" />
            </div>
        </div>
        
        <div class="item" data-id="20/08/2012" data-description="Lorem ipsum">
            <a class="image_rollover_bottom con_borderImage" data-description="ZOOM IN" href="/static/images/flat/blog/11.jpg" rel="lightbox[timeline]">
            <img src="/static/images/flat/blog/11.jpg" alt=""/>
            </a>
            <div class="post_date">20<span>AUG</span></div>
            <h2>AUGUST, 20</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...</span>
            <div class="read_more" data-id="20/08/2012">Read more</div>
        </div>
        <div class="item_open" data-id="20/08/2012" data-access="ajax-content-no-image.html">
            <div class="item_open_content">
                <img class="ajaxloader" src="/static/images/timeline/loadingAnimation.gif" alt="" />
            </div>
        </div>
        
        <div class="item" data-id="26/08/2012" data-description="Lorem ipsum dolor">
            <a class="image_rollover_bottom con_borderImage" data-description="ZOOM IN" href="/static/images/flat/blog/12.jpg" rel="lightbox[timeline]">
                <img src="/static/images/flat/blog/12.jpg" alt=""/>
            </a>
            <div class="post_date">26<span>AUG</span></div>
            <h2>AUGUST, 26</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...</span>
            <div class="read_more" data-id="26/08/2012">Read more</div>
        </div>
        <div class="item_open" data-id="26/08/2012" data-access="ajax-content-no-image.html">
            <div class="item_open_content">
                <img class="ajaxloader" src="/static/images/timeline/loadingAnimation.gif" alt="" />
            </div>
        </div>

</div> <!-- /END TIMELINE -->