<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/bootstrap.js"></script>
    <link href="/static/cicu/css/jquery.Jcrop.min.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/cicu/css/cicu-widget.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/redactor/css/redactor.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/redactor/css/django_admin.css" type="text/css" media="all" rel="stylesheet" />

    <script type="text/javascript" src="/static/cicu/js/jquery.Jcrop.min.js"></script>
    <script type="text/javascript" src="/static/cicu/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/static/cicu/js/cicu-widget.js"></script>
    <script type="text/javascript" src="/static/redactor/jquery.redactor.init.js"></script>
    <script type="text/javascript" src="/static/redactor/redactor.js"></script>
    <script type="text/javascript" src="/static/redactor/langs/es.js"></script>
    <title>CICU Image Crop ajax Uploader</title>
</head>
<body>
<form id="testFormCicu" action="" method="POST">
{% csrf_token %}
{{ form.as_table }}
<input id="submit" type="submit" value="Submit">
</form>

</body>
</html>