{% extends "static_page.html" %}

{% block title %}
<title>Editar comercio</title>
{% endblock %}

{% block jquery %}
{% endblock %}

{% block jquery_ui %}
{% endblock %}

{% block bootstrap %}
{% endblock %}

{% block css %}
{{ block.super }}
    <link href="/static/cicu/css/jquery.Jcrop.min.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/cicu/css/cicu-widget.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/redactor/css/redactor.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/redactor/css/django_admin.css" type="text/css" media="all" rel="stylesheet" />

    <style>
        .wpcf7-form .redactor_box{ max-width: none; }
    </style>

{% endblock %}

{% block extrahead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/cicu/js/jquery.Jcrop.min.js"></script>
    <script type="text/javascript" src="/static/cicu/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/static/cicu/js/cicu-widget.js"></script>
    <script type="text/javascript" src="/static/redactor/jquery.redactor.init.js"></script>
    <script type="text/javascript" src="/static/redactor/redactor.js"></script>
    <script type="text/javascript" src="/static/redactor/langs/es.js"></script>
{% endblock %}

{% block content %} 
<form id="testFormCicu" action="" class="wpcf7-form" method="POST">
{% csrf_token %}
{{ form.as_table }}
<br/><br/><br/>
<input id="submit" type="submit" value="Guardar" class="btn btn-primary">
</form>

{% endblock %}

{% block javascript %} 
{% endblock %}

{% block extra_javascript %} 
{% endblock %}

