{% extends "layout.html" %}

{% block main %}    

<section class="static_page_1">
<div class="container">

<div class="row">

<div class="span12">
<section class="static-page">
<div id="banner">
{% include "partials/banner_img.html" %}
</div>
<div class="row">


<div class="span9" id="panel_asociados">

    <div class="content">
        <div id="map-canvas" style="height: 0px;margin-bottom:50px;"></div>

        {% include "partials/endless_asociados.html" %}        
    </div>
</div>

<div class="span3">

<div class="widget Menu">

    <img src="/static/img/pin_asociados.png" width="100%">
    <hr>
    <!--h3 class="widget-title widget-title ">Categorías</h3-->

    <ul class='menu-widget'>
        {% for cat in categorias %}
        {% if cat.parent == None %}

        {% if cat.children.count %}
        <li class="level1 menu-item-has-children"><a href="/asociados/{{ cat.slug }}/" title="{{cat.name}}" class="title">{{cat.name|upper}} </a>
        <ul class="sub-menu">
        {% for child in cat.children.all|dictsort:"slug" %}
            {% if child.active %}
            <li class="level2 menu-item-no-children"><a href="/asociados/{{ cat.slug }}/{{ child.slug }}">{{ child.name|upper }}</a></li>
            {% endif %}   
        {% endfor %}
        </ul>   
        {% else %}
        <li class="level1 menu-item-no-children"><a href="/asociados/{{ cat.slug }}/" title="{{cat.name}}" class="title">{{cat.name|upper}} </a>
        {% endif %}     
        </li>
        {% endif %}
        {% endfor %}
    </ul>

</div>

</div>

</div>

</section>
</div>
</div>
</div>

</section>    

{% endblock %} 

{% block extra_javascript %}

<script>
$(document).ready(function() {

    $(".sub-menu").css("display", "none");

    /*
    $('.menu-widget a').click(function(){
    event.preventDefault();
    });
    */

    $(".menu-item-has-children > a").click(function (event) {
        event.preventDefault(event);
        var $block = $(this).parent().find(".sub-menu");
        $block.toggle();
        
    });

    /*
    $(".menu-item-no-children > a").click(function () {

        $.get($(this).attr('href'), function(data){

            $('#panel_asociados').html($(data).find('#panel_asociados').html());
            $('#banner').html($(data).find('#banner').html());

            var dom = $(data);

            dom.filter('#googlemaps').each(function(){
                console.log( this.text );
                $.globalEval(this.text || this.textContent || this.innerHTML || '');
            });
            initialize();
            //Find all inline script tags in the new content and loop through them
            //eval(document.getElementById("googlemaps").innerHTML);
            
            $('html, body').animate({
                scrollTop: $('#panel_asociados').offset().top
            }, 'slow');
        });

    });
    */
});


</script>
<script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
<script>$.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 100
            });
</script>
{% endblock %}
