{% extends "layout.html" %}
{% block main %}    
 <!-- Static page 1 -->
                <section class="static_page_1">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <section class="static-page">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="content">
                                                <h1>Estamos a tu disposición</h1>
                                                <p class="lead">Asociación de Empresarios del Comercio, Hostelería y Servicios del Ensanche de Pamplona.</p>                                            
                                                <hr />
                                               <div class="row-fluid">
                                                    <div class="span4">
                                                        <h5><em class="icon-map-marker icon-larger"></em> Dónde estamos</h5>
                                                        <p>Avda. Baja Navarra, 2, Primero, Local C4<br />31003 Pamplona<br /></p>
                                                    </div>
                                                    <div class="span4">
                                                        <h5><em class="icon-phone icon-larger"></em> Llámanos</h5>
                                                        <p><strong>948 22 87 77</strong></p>
                                                    </div>
                                                    <div class="span4">
                                                        <h5><em class="icon-envelope icon-larger"></em> Escríbenos</h5>
                                                        <p><strong>asociados@areacomercial.com</strong></p>
                                                    </div>
                                                    
                                                    <!--div class="span4">
                                                        <h5><em class="icon-medkit icon-larger"></em> Support</h5>
                                                        <p>A dedicated team provides timely and effective <a href="http://laboutique.ticksy.com" target="_blank">support</a> whenever you need a hand getting things right.</p>
                                                    </div-->
                                                </div>
                                                <hr />
                                                <div class="map" style="height: 400px; width: 100%; background-color: #F0F0F0;" data-address="16 Clocktower Mews, Newmarket, CB8 8LL, UK" data-zoom="12"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2926.832910875906!2d-1.6434216296386719!3d42.81301685366869!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd509256000f9133%3A0x539a0b704dff6736!2sAsociaci%C3%B3n+de+empresarios+de+comercio%2C+hosteler%C3%ADa+y+servicios+del+Ensanche!5e0!3m2!1ses!2ses!4v1391899579775" width="1080" height="400" frameborder="0" style="border:0"></iframe></div>
                                                <hr />
                                                
                                                <!--
                                                <form id="form" enctype="multipart/form-data" action="#" method="post">
                                                    
                                                    <h3>Send us a message</h3>

                                                    <div class="row-fluid">
                                                        <div class="span6">
                                                            <div class="control-group">
                                                                <label for="name" class="control-label">Name</label>
                                                                <div class="controls">
                                                                    <input type="text" name="name" id="name" value="" class="span12" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="span6">
                                                            <div class="control-group">
                                                                <label for="email" class="control-label">Email</label>
                                                                <div class="controls">
                                                                    <input type="text" name="email" id="email" value="" class="span12" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row-fluid">
                                                        <div class="span6">
                                                            <div class="control-group">
                                                                <label for="subject" class="control-label">Subject</label>
                                                                <div class="controls">
                                                                    <input type="text" name="subject" id="subject" value="" class="span12" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="span6">
                                                            <div class="control-group">
                                                                <label for="order_no" class="control-label">Order number</label>
                                                                <div class="controls">
                                                                    <input type="text" name="order_no" id="order_no" value="" class="span12" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row-fluid">
                                                        <div class="span12">
                                                            <div class="control-group">
                                                                <label for="message" class="control-label">Message</label>
                                                                <div class="controls">
                                                                    <textarea name="message" id="message" class="span12"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row-fluid">
                                                        <div class="span12">
                                                            <button class="btn btn-primary">
                                                                Send message
                                                            </button>
                                                        </div>
                                                    </div>

                                                </form>   
                                                -->                      
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>


                </section>    
                <!-- End Static page 1 -->
{% endblock %}