{% extends "layout.html" %}
{% block main %}   

<section class="featured">
    <div class="container">
                            
    <div class="row">

    {% block box_list %}
    <div class="span9">
    <ul class="product-list isotope">
    <li class="standard" data-price="58">
        <a href="convenio.html" title="AOU / ARQUITECTURA Y ORDENACIÓN URBANA">
            <div class="image">
                <img class="primary" src="img/thumbnails/logo_1.jpg" alt="AOU / ARQUITECTURA Y ORDENACIÓN URBANA" />                
            </div>

            <div class="title">
                <div class="prices">
                    <span class="price">Arquitectura</span>
                </div>
                <h3>AOU / ARQUITECTURA Y ORDENACIÓN URBANA</h3>
            </div>

        </a>
    </li>
    </ul>
    </div>
    {% endblock %}

    {% block sidebar %}
    <div class="span3">

        <div class="widget Categories">
            <h3 class="widget-title widget-title ">Categories</h3>
            <ul>

            <li>            
            <a href='category.html' class="title">Mens</a>
                <ul>
                <li>
                    <a href='category.html' class="title">T-Shirts</a>
                </li>
                <li>
                    <a href='category.html' class="title">Jackets</a>
                </li>
                </ul>
            </li>
            <li>
            <a href='category.html' class="title">Womens</a>
                <ul>
                <li>
                    <a href='category.html' class="title">Shoes</a>
                </li>
                </ul>
            </li>
            </ul>
        </div>

    
        <div class="widget Text">
            <h3 class="widget-title widget-title ">This month only!</h3>
            <h5>Free UK shipping!</h5>
            <h6><i class="icon-gift"> &nbsp; </i> Free gift wrap</h6>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque beatae tempore porro officiis!</p>
            <a class="btn btn-primary" href="#">BUY NOW <em>for</em> $85</a>
        </div>
        <!-- End class="widget Text" -->                                    
                                    
    </div>
    {% endblock %}

    </div>  
    </div>
</section>      
{% endblock %}