{% extends "layout.html" %}

{% block extrahead %}

{% endblock %}


{% block main %}                

<!-- Static page 1 -->
<section class="static-page">
<div class="container">
<div class="row">
<div class="span12">
<iframe width="100%" height="800px" src="https://www.youtube.com/embed/wEb7JQ-53B4" frameborder="0" allowfullscreen></iframe>
</div>
<div class="span12">
<p class="lead"><br/></p>
<h1>Quiénes somos</h1>
<p class="lead">
En el contexto de la memoria histórica de los fusilados, desaparecidos y represaliados de la Guerra civil y el Franquismo es mucha la gente que ha trabajado en pro de la búsqueda de los valores y objetivos de Verdad, Justicia y Reparación. Parece claro a estas alturas que las dos últimas cuestiones quedan gravemente mutiladas por el tiempo y los sucesivos baches de la transición y la cicatería político-judicial. Para lo primero el tiempo parece agotarse pero urge dar mayor valor añadido a una cantidad enorme y disgregada de listados, sitios electrónicos, centros de documentación y memoriales físicos. Muchos de estos trabajos, algunos con un monumental esfuerzo colectivo y de investigadores detrás con años de trabajo, pueden servir de base para visualizaciones e interacciones novedosas.
</p>
<p class="lead">
Creemos por tanto que pese a la existencia de muchos libros, documentales y páginas web, falta un trecho para avanzar en APERTURA, INTEROPERABILIDAD, INTERCONECTIVIDAD, SERVICIO PÚBLICO, ORIENTADO A LA CULTURA COLABORATIVA y que aproveche del mejor modo posible la posibilidad de cruzar y visualizar mejor toda la información existente. </p>
</div>


</div>

<div class="row">

<div class="span4">

    <a href="#"><img src="/static/img/PIES4.png" /></a>
    <p class="lead"></p>
    <div class="overlay"> 
        <h3>Premio AGECU 2012</h3> 
        <p>La Asociación de Comerciantes del Ensanche de Pamplona premiada por sus iniciativas para favorecer el comercio de cercanía.</p>     
    <a class="zoom" href="http://nueva.areacomercial.com/noticias/premio-agecu-2012/" rel="" title=""></a>    </div> 

</div>

<div class="span4">
    <div class="overlay">
    <a href="#"><img src="/static/img/PIES2.png" /></a>
    <p class="lead"></p>
    </div>
    <div class="overlay">     
    <h3>La Nuit 2013</h3> <p>Un año más, Ensanche Área Comercial junto a Ayuntamiento de Pamplona y la colaboración de Reyno Gourmet y la revista ON, celebra el viernes 4 de octubre (de 20 a 23 horas) Ensanche La Nuit.</p>     
    <a class="zoom" href="http://nueva.areacomercial.com/noticias/la-nuit-2013/" rel="" title=""></a>    </div>  
</div>

<div class="span4 last">

    <a href="#"><img src="/static/img/PIES3.png" /></a>
    <p class="lead"></p>   
    <div class="overlay">
    <h3>El Centro de tu vida</h3>
    <p>Cada vez todos somos más conscientes de que la unión hace la fuerza y valoramos todo lo que nos ofrece estar en el centro de Pamplona...</p>     
    <a class="zoom" href="http://vimeo.com/53156420" rel="" title=""></a>    </div> 

</div>

</div>
</div>
</section>    

{% endblock %}

{% block extra_javascript %}
<script type="text/javascript"> 
$('ul.img-thumbs li').hover( /*Default syntax in jquery library: hover( handlerIn(eventObject), handlerOut(eventObject) )*/
function(){$(".overlay", this).stop().animate({top:'0px'}, {queue:false,duration:300});}, 
function(){$(".overlay", this).stop().animate({top:'278px'},{queue:false,duration:300});}
                     );  
 </script>
{% endblock %}
