{% extends "layout.html" %}
{% block title %}
<title>{{titulo}}</title>
{% endblock %}
{% block main %}    
                <section class="static_page_1">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <section class="static-page">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="content">
                                            <h1>
                                            {% block titulo %}
                                            {{ titulo }}
                                            {% endblock %}
                                            </h1>
                                            <p class="lead">
                                            {% block subtitulo %}
                                            {{ subtitulo }}
                                            {% endblock %}
                                            </p>
                                            {% block content %}
                                            {% endblock %}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>  
{% endblock %}                                            