/*
* {margin:0;padding:0;}

a img { text-decoration: none;border:0;}
*/

body {
	text-align: center;
	background-color:#eceded;
	font-family: 'Arvo', serif;
	background-image:url('../images/ticks.png');
	background-repeat:repeat;
}


#wrapper {
	padding-bottom:40px;
}

#topmenu {
	display:block;
	overflow:hidden;
	background-color: white;
	font-size:14px;
}
    .f-nav{ z-index: 9999; position: fixed; top: 0; }

#topmenu .logo {
	float:left;
	text-align: center;
}

#topmenu .logo a {
	margin:0 auto;
}

#topmenu .links {
	background-color:#9bc01e;
}

#topmenu .right {
	background-color:white;
	display:block;
}

#topmenu .links a,#topmenu .right a {
	color:white;
	text-decoration: none;
	float:left;
	padding:20px;
}

#topmenu .right a {
	color:#9bc01e;
	margin:0 auto;
	text-align: center;
	padding:20px 0;
}

#topmenu .links a:hover,#topmenu .right a:hover {
	text-decoration: underline;
}

#precontent .content {
	text-align: left;
	font-size: 17px;
	line-height:20px;
}

#precontent .content span { 
	color:#9bc01e;
}

#tabs a {
	width:116px;
	text-align: center;
	padding:8px 0;
	display:block;
	float:right;
	border-radius:10px 10px 0 0;
	background-color: white;
	color:black;
	text-decoration: none;
	font-size:14px;
}


.tab1 {background-color: #e53b3b!important}
.tab2 {background-color: #76c7ec!important}
.tab3 {background-color: #f0a500!important}
.tab4 {background-color: #cc9966!important}
.tab5 {background-color: #ea661e!important}
.tab6 {background-color: #fbdb00!important}

.home img {margin:100px auto;}

#content h1 {
	font-size:48px;
}

#content .left p {
	font-size:17px;	
	line-height: 20px;
}

#content .right p {
	font-size:22px;	
	line-height: 25px;
}

#content .tab {
	border-radius:0 0 20px 20px;
	display: none;
	height: 600px; /* tamaños iguales ? */
}

#content .home {
	background-color: #9bc01e!important;
	display:block;
}

#content .left {
	text-align:left;
}

#content .right {
	text-align:left;
	color:white;
}

.clear.grid_12 {
	height:20px; /* probablemente tenga que desaparacer */
}

.clear.grid_3,.clear.grid_1,.clear.grid_6 {
	height:1px;
}

#news {
	text-align: left;
}

#news .main {
	background: white;
	margin:0;
}

#news .other {
	background:white;
	padding:10px;
}

#news .list {
	background: white;
	-moz-box-shadow: 0 0 2px 2px rgba(68,68,68,0.2);
	-webkit-box-shadow: 0 0 2px 2px rgba(68, 68, 68, 0.2);
	box-shadow: 0 0 3px 3px rgba(68, 68, 68, 0.1);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.20);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.20)";
	zoom: 1;
	margin-top: 10px;
	margin-bottom: 10px;
}

#news .other a,#news .list a.title {
	color:black;
	text-decoration: none;
	display:block;
	font-weight: bold;
}

#news .list a.title {
	padding:0 10px;
}


#news .date {
	color:lightgray;
	text-align: right;
	font-size:0.9em;
	text-decoration: none;
	display:block;
	font-weight: normal;
	font-style: italic;
	padding:0 10px;
	margin-top:5px;
}


#news .other a:hover,#news .list a:hover {
	text-decoration: underline;
}

#news .main img,#news .list img {
	width:100%;
}

#news h1 {
	color:#9bc11f;
	font-size:32px;
	text-align: center;
	padding:0 10px;
}

#news h2 {
	font-size: 18px;
	text-align: center;
}

#news h1 {
	color:#9bc11f;
	font-size:32px;
	text-align: center;
	padding:0 10px;
}

#news p {
	font-size:14px;
	padding:0 10px;
}

#categories {
	overflow: hidden;
	display: block;
	clear: both;
}

#categories ul {
	margin: 0;
	list-style: none;
}

#categories li {
	float: left;
	margin-bottom: 0.2em;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#categories li a {
	display: block;
	padding: 0.4em 0.5em;
	background-color: #eee;
	color: #222;
	font-weight: bold;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5 );
	background-image: -webkit-linear-gradient( top, rgba(255, 255, 255, 0.5 ), rgba(255, 255, 255, 0.0 ) );
	background-image: -moz-linear-gradient( top, rgba(255, 255, 255, 0.5 ), rgba(255, 255, 255, 0.0 ) );
	background-image: -ms-linear-gradient( top, rgba(255, 255, 255, 0.5 ), rgba(255, 255, 255, 0.0 ) );
	background-image: -o-linear-gradient( top, rgba(255, 255, 255, 0.5 ), rgba(255, 255, 255, 0.0 ) );
	background-image: linear-gradient( top, rgba(255, 255, 255, 0.5 ), rgba(255, 255, 255, 0.0 ) );
	border-left: 1px solid rgba(255, 255, 255, 0.3 );
	border-right: 1px solid rgba(0, 0, 0, 0.2 );
	text-decoration: none;
}

#categories li:first-child a {
	border-radius: 7px 0 0 7px;
	border-left: none;
}

#categories li:last-child a {
	border-radius: 0 7px 7px 0;
}

#categories li a:hover {
	background-color: #d4e49e;
}


#categories li a.selected {
	background-color: #9bc01e;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}


.texto_blanco {
    position: relative;
    float:left;
    height: 600px;
    }
    .texto_blanco p {
        position: absolute;
        bottom: 0;
        margin-bottom: 80px;
        }