{%load staticfiles%}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/base.js"></script>

	<link rel="stylesheet" href="{{STATIC_URL}}css/reset.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/960.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/text.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/base.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/slides.css">	
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    {%block extra_haed%}{%endblock%}
	
</head>

<body>
	<div class="container_12" id="slides">
	
		<div class="grid_12 alpha omega">
     
			<div class="banner">
                        <ul>
                                <li style="background-image: url('https://raw.github.com/idiot/unslider/master/site/img/sunset.jpg');">
                                        <div class="inner">
                                                <h1>The jQuery slider that just slides.</h1>
                                                <p>No fancy effects or unnecessary markup, and it’s less than 3kb.</p>

                                                <a class="btn" href="#download">Download</a>
                                        </div>
                                </li>

                                <li style="background-image: url('https://raw.github.com/idiot/unslider/master/site/img/wood.jpg');">
                                        <div class="inner">
                                                <h1>Fluid, flexible, fantastically minimal.</h1>
                                                <p>Use any HTML in your slides, extend with CSS. You have full control.</p>

                                                <a class="btn" href="#download">Download</a>
                                        </div>
                                </li>

                                <li style="background-image: url('https://raw.github.com/idiot/unslider/master/site/img/subway.jpg');">
                                        <div class="inner">
                                                <h1>Open-source.</h1>
                                                <p>Everything to do with Unslider is hosted on GitHub.</p>

                                                <a class="btn" href="//github.com/idiot/unslider">Contribute</a>
                                        </div>
                                </li>

                                <li style="background-image: url('https://raw.github.com/idiot/unslider/master/site/img/shop.jpg');">
                                        <div class="inner">
                                                <h1>Uh, that’s about it.</h1>
                                                <p>I just wanted to show you another slide.</p>

                                                <a class="btn" href="#download">Download</a>
                                        </div>
                                </li>
                        </ul>
            </div>
		</div>
	</div>
	<div class="container_12" id="wrapper">
	
		<div class="container_12" id="topmenu">
			<a class="logo" href="#" class="grid_3" title="Home">
				<img src="{% static "images/logo.jpg" %}" alt="ensache área comercial logo"/>
			</a>

			<div class="grid_8 links">
				<a href="#" title="¿Quienes somos?">¿Quiénes somos?</a>
				<a href="#" title="Nuestros asociados">Nuestros asociados</a>
				<a href="{% url "noticias" %}"" title="Noticias">Noticias</a>
				<a href="#" title="Agenda">Agenda</a>
				<a href="#" title="Contacto">Contacto</a>
			</div>

			<div class="grid_1 right">
				<a href="{% url "admin:index" %}" target="_blank" class="grid_1" title="Usuarios">Usuarios</a>
			</div>
		</div>

		<div class="clear grid_12"></div>
		<div class="clear grid_12"></div>

	{% block content%}
	{% endblock content%}

	</div>

				<script src="http://unslider.com/unslider.min.js"></script>
                <script>


                        $('.banner').unslider({
                                arrows: true,
                                fluid: true,
                                dots: true
                        });

                        //  Find any element starting with a # in the URL
                        //  And listen to any click events it fires
                        $('a[href^="#"]').click(function() {
                                //  Find the target element
                                var target = $($(this).attr('href'));

                                //  And get its position
                                var pos = target.offset(); // fallback to scrolling to top || {left: 0, top: 0};

                                //  jQuery will return false if there's no element
                                //  and your code will throw errors if it tries to do .offset().left;
                                if(pos) {
                                        //  Scroll the page
                                        $('html, body').animate({
                                                scrollTop: pos.top,
                                                scrollLeft: pos.left
                                        }, 1000);
                                }

                                //  Don't let them visit the url, we'll scroll you there
                                return false;
                        });

                </script>
</body>

</html>