{% extends "base.html" %}

{%load staticfiles thumbnail%}

{%block content %}
		<div class="container_12" id="events">


			{%for n in eventos%}
			<div class="grid_3 list">			
				<a href="{{n.get_absolute_url}}"><img src="{% thumbnail n.imagen 220x220 crop %}" alt="{{n}}"/></a>

				<a href="{{n.get_absolute_url}}" class="title">{{n}}</a>

				<p>Inicio:</p>
				<p><center><strong>{{n.fecha_inicio|date}} {{n.hora_inicio|time}}</strong></center></p>

				{%if n.fecha_fin%}
				<p>Fin:</p>
				<p><center><strong>{{n.fecha_fin|date}} {{n.hora_fin|time}}</strong></center></p>
				{%endif%}

			</div>
			{%endfor%}

		</div>

		<div class="clear grid_12"></div>
{%endblock%}