{%extends "base.html" %}

{% load staticfiles %}

{%block content %}
		
		<div class="container_12" id="precontent">
			<div class="logo grid_3">
				<img src="{% static "images/juntos.png" %}"/>
			</div>

			<div class="content grid_9">
				<p>La asociación de empresas de comercio, hostelería y servicios del Ensanche lleva más de 20 años <span>comprometida</span> con el pequeño y mediano comercio del Ensanche, <span>defendiendo</span> los intereses del sector y <span>dinamizando</span> la zona comercial con actividades. Todo ello contribuye a que tu negocio sea más competitivo. Además, como colectivo conseguimos cuestiones que individualmente son inviables. </p>
			</div>
		</div>

		<div class="clear grid_12"></div>


		<div class="container_12" id="content">

			<div class="container_12" id="tabs">
				
				<a href="#tab6" class="tab6" title="Visibilidad">Visibilidad</a>
				<a href="#tab5" class="tab5" title="Social">Social</a>
				<a href="#tab4" class="tab4" title="Formación">Formación</a>
				<a href="#tab3" class="tab3" title="Soluciones">Soluciones</a>
				<a href="#tab2" class="tab2" title="Al día">Al día</a>
				<a href="#tab1" class="tab1" title="Ventajas">Ventajas</a>
				
			</div>

			<div class="container_12 home tab">
				<img src="{% static "images/cruz.png" %}" alt="El mayor centro comercial y de negocios de Navarra"/>
			</div>

			<div class="container_12 tab tab1" id="tab1">

				<div class="clear grid_12"></div>

				<div class="clear grid_1"></div>

				<div class="grid_5 left">
					<h1>Ventajas</h1>

					<p>Contamos con una amplia gama de productos y servicios con descuento. Sólo por ser asociado, aprovecha y <strong>minimiza los costes de tu negocio.</strong></p>

					<p>
					+ Monedas de zona azul.<br/>
					+ Tickets de parking.<br/>
					+ Limpieza de cristales.<br/>
					+ Seguros.<br/>
					+ Riesgos laborales.<br/>
					+ Bolsas.<br/>
					+ Convenio con Caja Rural.<br/>
					+ Diseño y comunicación.<br/>
					+ Asesoría jurídica.<br/>
					+ Asesoría fiscal, contable, laboral.<br/>
					+ Telefonía.<br/>
					+ Mantenimiento informático.<br/>
					+ Diseño de proyectos y reformas.<br/>
					+ Envío a domicilio.<br/>
					+ Combustible.<br/>
					+ Rotulación.
					</p>
				</div>
				<!--
				<div class="clear grid_12"></div>

				<div class="clear grid_6"></div>
				-->
				<div class="grid_5 right texto_blanco">
					<p>Contamos con una amplia gama de productos y servicios con descuento. Sólo por ser asociado, aprovecha y <strong>minimiza los costes de tu negocio.</strong></p>
				</div>
			</div>


			<div class="container_12 tab tab2" id="tab2">

				<div class="clear grid_12"></div>

				<div class="clear grid_1"></div>

				<div class="grid_5 left">
					<h1>Al día</h1>

					<p>Desde la asociación se informa puntualmente sobre la legislación comercial vigente en materia de consumo, rebajas y horarios.</p>

					<p>También sobre subvenciones, ordenanzas de terrazas, etc. Estarás informado sobre posibles incidencias que afecten al desarrollo de tu actividad como cortes de luz, robos o estafas, huelgas, etc.</p>
				</div>

				<!--
				<div class="clear grid_12"></div>

				<div class="clear grid_6"></div>
				-->
				<div class="grid_5 right texto_blanco">
					<p>Desde la asociación se informa puntualmente sobre la legislación comercial vigente en materia de consumo, rebajas y horarios.</p>
				</div>
			</div>

			<div class="container_12 tab tab3" id="tab3">

				<div class="clear grid_12"></div>

				<div class="clear grid_1"></div>

				<div class="grid_5 left">
					<h1>Soluciones</h1>

					<p>Podrás ofrecer a tus clientes el <strong>pago en 3 cómodos plazos</strong> a través de la "tarjeta comercio" <strong>sin abonar por ello intereses</strong> ni el cliente ni el establecimiento. </p>

					<p>Además, te <strong>facilitamos trámites burocráticos</strong> en cuestiones que puedan afectar al desarrollo de tu negocio, <strong>gestionamos la ocupación de locales vacíos</strong>, ayudamos a <strong>emprendedores</strong> en la puesta en marcha de nuevos negocios.</p>
				</div>

				<!--
				<div class="clear grid_12"></div>

				<div class="clear grid_6"></div>
				-->
				<div class="grid_5 right texto_blanco">
					<p>Podrás ofrecer a tus clientes el <strong>pago en 3 cómodos plazos</strong> a través de la "tarjeta comercio" <strong>sin abonar por ello intereses</strong> ni el cliente ni el establecimiento. </p>
				</div>
			</div>

			<div class="container_12 tab tab4" id="tab4">

				<div class="clear grid_12"></div>

				<div class="clear grid_1"></div>

				<div class="grid_5 left">
					<h1>Formación</h1>

					<p>Tendrás acceso a un amplio abanico de cursos formativos que te ayudarán a <strong>impulsar tu negocio:</strong></p>

					<p>+ Nuevas tecnologías.<br/>
					+ Escaparatismo y visual merchandising.<br/>
					+ Rentabiliza tu comercio<br/>
					+ Redes sociales.<br/>
					+ Geolocalización.<br/>
					+ Innovación en retail.<br/>
					+ Gestión empresarial.<br/>
					+ Jornada "Noche del Ensanche".</p>
				</div>
				<!--
				<div class="clear grid_12"></div>

				<div class="clear grid_6"></div>
				-->
				<div class="grid_5 right texto_blanco">
					<p>Tendrás acceso a un amplio abanico de cursos formativos que te ayudarán a <strong>impulsar tu negocio.</strong></p>
				</div>
			</div>

			<div class="container_12 tab tab5" id="tab5">

				<div class="clear grid_12"></div>

				<div class="clear grid_1"></div>

				<div class="grid_5 left">
					<h1>Social</h1>

					<p>La asociación respalda algunos valores...</p>
					<p><strong>Solidaridad</strong>, colaborando con Fundación Juan Bonal, Cáritas Navarra, Adano...</p>
					<p><strong>Sostenibilidad</strong>, promoviendo campañas "reutiliza, reduce, recicla"...</p>
					<p><strong>Responsabilidad Social Corporativa</strong>, porque nuestros escaparates lucen limpios gracias al trabajo de un centro especial de empleo...</p>
					<p><strong>Concienciación ciudadana</strong>, porque recordamos a nuestro vecino que "Nosotros pagamos los impuestos en Navarra beneficiando tu comunidad".</p>
				</div>

				<!--
				<div class="clear grid_12"></div>

				<div class="clear grid_6"></div>
				-->
				<div class="grid_5 right texto_blanco">
					<p>La asociación <strong>respalda valores</strong> como la solidaridad, la sostenibilidad, la responsabilidad social corporativa y la concienciación ciudadana.</p>
				</div>
			</div>

			<div class="container_12 tab tab6" id="tab6">

				<div class="clear grid_12"></div>

				<div class="clear grid_1"></div>

				<div class="grid_5 left">
					<h1>Visibilidad</h1>

					<p>La asociación desarrolla a lo largo del año varias actividades de calle como "La Nuit" o "Comercio hace ciudad" para <strong>dinamizar y dotar de una personalidad activa a la zona comercial</strong>, atrayendo así a gran número de ciudadanos a nuestras calles.</p>

					<p>La visibilidad del ensanche se potencia <strong>también a través de las redes sociales</strong> como Facebook, Twitter o el blog, en las que se cuenta con un gran número de seguidores y una gran participación activa.</p>
				</div>

				<!--
				<div class="clear grid_12"></div>

				<div class="clear grid_6"></div>
				-->
				<div class="grid_5 right texto_blanco">
					<p>La asociación desarrolla a lo largo del año varias actividades de calle como <strong>"La Nuit"</strong> o <strong>"Comercio hace ciudad"</strong>.</p>
				</div>
			</div>

		</div>

{%endblock%}