{% extends "base.html" %}

{%load staticfiles%}

{%block content %}
		<div class="container_12" id="news">


			<div class="grid_3 list">			
				<a href="#"><img src="{%static "images/noticia.png"%} " alt="Noticia"/></a>

				<a href="#" class="title">Participa en el concurso "El Centro De Tus Sueños"</a>

				<p>Por segundo año consecutivo Ensanche Área Comercial (Asociación de Empresarios del Comercio, Hostelería y Servicios del Ensanche de Pamplona) organiza, con la colaboración de Diario de Navarra...</p>
			</div>

			<div class="grid_3 list">			
				<a href="#"><img src="{%static "images/noticia.png"%} " alt="Noticia"/></a>

				<a href="#" class="title">Participa en el concurso "El Centro De Tus Sueños"</a>

				<p>Por segundo año consecutivo Ensanche Área Comercial (Asociación de Empresarios del Comercio, Hostelería y Servicios del Ensanche de Pamplona) organiza, con la colaboración de Diario de Navarra...</p>
			</div>

			<div class="grid_3 list">			
				<a href="#"><img src="{%static "images/noticia.png"%} " alt="Noticia"/></a>

				<a href="#" class="title">Participa en el concurso "El Centro De Tus Sueños"</a>

				<p>Por segundo año consecutivo Ensanche Área Comercial (Asociación de Empresarios del Comercio, Hostelería y Servicios del Ensanche de Pamplona) organiza, con la colaboración de Diario de Navarra...</p>
			</div>

			<div class="grid_3 list">			
				<a href="#"><img src="{%static "images/noticia.png"%} " alt="Noticia"/></a>

				<a href="#" class="title">Participa en el concurso "El Centro De Tus Sueños"</a>

				<p>Por segundo año consecutivo Ensanche Área Comercial (Asociación de Empresarios del Comercio, Hostelería y Servicios del Ensanche de Pamplona) organiza, con la colaboración de Diario de Navarra...</p>
			</div>

			<div class="grid_3 list">			
				<a href="#"><img src="{%static "images/noticia.png"%} " alt="Noticia"/></a>

				<a href="#" class="title">Participa en el concurso "El Centro De Tus Sueños"</a>

				<p>Por segundo año consecutivo Ensanche Área Comercial (Asociación de Empresarios del Comercio, Hostelería y Servicios del Ensanche de Pamplona) organiza, con la colaboración de Diario de Navarra...</p>
			</div>

			<div class="grid_3 list">			
				<a href="#"><img src="{%static "images/noticia.png"%} " alt="Noticia"/></a>

				<a href="#" class="title">Participa en el concurso "El Centro De Tus Sueños"</a>

				<p>Por segundo año consecutivo Ensanche Área Comercial (Asociación de Empresarios del Comercio, Hostelería y Servicios del Ensanche de Pamplona) organiza, con la colaboración de Diario de Navarra...</p>
			</div>

			<div class="grid_3 list">			
				<a href="#"><img src="{%static "images/noticia.png"%} " alt="Noticia"/></a>

				<a href="#" class="title">Participa en el concurso "El Centro De Tus Sueños"</a>

				<p>Por segundo año consecutivo Ensanche Área Comercial (Asociación de Empresarios del Comercio, Hostelería y Servicios del Ensanche de Pamplona) organiza, con la colaboración de Diario de Navarra...</p>
			</div>

		</div>

		<div class="clear grid_12"></div>
{%endblock%}