{% extends "base.html" %}

{%load staticfiles%}

{%block content %}
		<div class="container_12" id="news">


			<div class="grid_6 main">			
				<img src="{%static "images/noticia.png"%} " alt="Noticia"/>

				<h1>Participa en el concurso "El Centro De Tus Sueños"</h1>

				<p>Por segundo año consecutivo Ensanche Área Comercial (Asociación de Empresarios del Comercio, Hostelería y Servicios del Ensanche de Pamplona) organiza, con la colaboración de Diario de Navarra, el concurso de escaparates de Navidad “El centro de tus sueños”, dirigido a comerciantes ubicados en la zona del Ensanche.De entre todos los participantes, el Jurado (compuesto por un responsable de marketing de Diario de Navarra, una profesional de las artes plásticas y un representante de la asociación del Ensanche) eligió 10 finalistas. Los ciudada-nos han votado a través de www.diariodenavarra.es el escaparate ganador:</p>
			</div>

			<div class="grid_3 other">			

				<h2>OTRAS NOTICIAS</h2>

				<p><a href="#">Balance Sanfermines</a>El transporte urbano de-scendió un 2,06% respecto al año pasado y la recogi-da de residuos supuso un 2,70% menos que durante las fiestas de...</p>

				<p><a href="#">Horario TUC Verano</a>El cambio está motivado por el importante descen-so de viajeros que se experimenta durante estas fechas.</p>

				<p><a href="#">Reciclar en Sanfermines</a>Una carpa en Conde de Rodezno permite jugar a la “Ruleta del reciclaje” durante los Sanfermines.</p>
			</div>

		</div>

		<div class="clear grid_12"></div>
{%endblock%}